Figure/demoLangevinSampling1D.eps
Figure/demoLangevinSampling1D.fig
Figure/demoLangevinSampling2D.eps
Figure/demoLangevinSampling2D.fig
Figure/demoSamplingCoupledCANNs.eps
Figure/demoSamplingCoupledCANNs.fig
Figure/DoubleCANNs_Jrp.eps
Figure/DoubleCANNs_Jrp.fig
Figure/FourNets_scanPars.eps
Figure/FourNets_scanPars.fig
Figure/NeuralWeight_RecConns.eps
Figure/NeuralWeight_RecConns.fig
Figure/SampleCov_tauL.eps
Figure/SampleCov_tauL.fig
Figure/SamplingNets3-5.eps
Figure/SamplingNets3-5.fig
Figure/SamplingNets3-10.eps
Figure/SamplingNets3-10.fig
Figure/SingleCANN_NeuralResponse.eps
Figure/SingleCANN_NeuralResponse.fig
Figure/SingleCANN_SamplePath.eps
Figure/SingleCANN_SamplePath.fig
Figure/SingleCANN_SamplePrecision.eps
Figure/SingleCANN_SamplePrecision.fig
Figure/ThreeNets_scanPars.eps
Figure/ThreeNets_scanPars.fig
Figure/TorusManifold.eps
Figure/TorusManifold.fig
Figure/TuningCurve2D.eps
Figure/TuningCurve2D.fig
